body{
    padding: 0;
    margin: 0 ;
    background-image: url("Resources/web-back.jpg");
    background-repeat: no-repeat;
    background-size: 100% 700px;
    width: 100%;
    height: 100%;
}
.container{
    width:500px;
    height: 400px;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
    
}
.container img{
    width: 200px;
    height: 200px;
    margin-top: -110px;
    margin-bottom: 30px;
}
input[type="text"],input[type="password"]{
    font-size: 20px;
    border: none;
    height:30px;
    width: 300px;
    color: darkgrey;
    margin-bottom: 10px;
    background-color: azure;
    padding-left: 30px;;
}
.font-input::before{
    content: "\f007";
    position: absolute;
    font-family: "Calibri";
}
input[type="submit"]{
    font-size: 20px;
    height:45px;
    color: white;
    width: 100px;
    background-color:chocolate;
}
.haveAccount{  margin-top: 10px;
    color: cornflowerblue;
    font-style: normal;
    font-stretch: condensed;
    font-size: 16px;
}
.about{
    background-color:rgba(251,173,62,0.78);
    margin-left: auto;
    margin-top: 100px;
    text-align: center;
    /*
    height: 80px;
     */
}
.about img {
    width: 300px;
    height: 250px;
    margin-top: -120px;
    margin-bottom: 30px;
}
h2{
   color: aliceblue;
}
.about h3{
    margin-top: -60px;
    color: white;
    font-family: Calibri;
    size: 30px;
}