body{
    margin: 0 auto;
    background-image: url("Resources/back.jpg");
    background-repeat: no-repeat;
    background-size: 100% 720px;
}
.container{
    width:500px;
    height: 300px;
    text-align: center;
    background-color: rgba(196,200,17,0.59);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
    
}
.container img{
    width: 200px;
    height: 200px;
    margin-top: -110px;
    margin-bottom: 30px;
}
input[type="text"],input[type="password"]{
    font-size: 20px;
    border: none;
    height:30px;
    width: 300px;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 30px;;
}
.font-input::before{
    content: "\f007";
    position: absolute;
    font-family: "Calibri";
}
input[type="submit"]{
    font-size: 20px;
    height:45px;
    color: white;
    width: 100px;
    background-color: rgba(59,125,233,0.93);
}
.a{  margin-top: 10px;
    color: cornflowerblue;
    font-style: normal;
    font-stretch: condensed;
    font-size: 16px;
}
.about{
    margin-left: auto;
    margin-top: auto;
    margin-top: auto;
}
.about img {
    width: 230px;
    height: 180px;
    margin-top: -80px;
    margin-bottom: 30px;
}
h2{
   color: aliceblue;
}
.about h3{
    margin-top: -60px;
    color: white;
    font-family: Calibri;
    size: 30px;
}